[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
sklearn = "*"
numpy = "*"
bt = "*"
statsmodels = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
ffn = "*"

[requires]
python_version = "3.6"
